# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env

# Build / Distribution
build/
dist/
*.egg-info/

# Logs
*.log